IC_API_KEY = 

IC_DB_HOST = 
IC_DB_PORT = 
IC_DB_USER = 
IC_DB_PASSWORD = 
IC_DB_NAME = 


# Meta Ads
META_ACCESS_TOKEN=
META_APP_ID=
META_APP_SECRET=

# Contas por franquia (Meta)
#precisa começar com act_
META_ACCOUNT_FRANQUIA_SSA=act_
META_ACCOUNT_FRANQUIA_FOR=act_

# Google Ads
GOOGLE_DEVELOPER_TOKEN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

# Customer IDs por franquia (Google)
GOOGLE_CUSTOMER_FRANQUIA_SSA=
GOOGLE_CUSTOMER_FRANQUIA_FOR=